.header, .footer{
    background-color: rgb(206, 152, 51) !important;
    text-shadow: none !important;
    color: #fff !important;
}
.ui-btn-active {
    background-color: rgb(206, 152, 51) !important;
    border-color: rgb(206, 152, 51) !important;
}

.ui-body {background-color: rgb(236, 215, 174); padding-bottom: 10px;}

/* 등장인물들 */
.ui-grid-a{font-size: 12px;}
.ui-grid-a img{float: left; margin-top: 13px; margin-right: 10px; width: 60px;}
.ui-grid-a h4{color: #ff7300; font-size: 16px;}
.ui-grid-a span{color: red; line-height: 30px;}
